body {
  background: url(images/sc.jpeg); }

.appBody {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center; }

.appBody .likes {
  background-color: cornsilk;
  font-size: 2vw;
  padding: 10px; }

.appBody h1 {
  margin: 0 auto;
  margin-bottom: .5rem;
  margin-top: .5rem;
  border: 1px solid black;
  padding: 20px;
  background-color: cornsilk;
  font-size: 5vw; }

.appBody h2 {
  margin: 0 auto;
  margin-bottom: .5rem;
  margin-top: .5rem;
  border: 1px solid black;
  padding: 20px;
  background-color: cornsilk; }
